@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

body{font-family: "Noto Sans KR", sans-serif; font-size: 16px; line-height: 1.35; color: #fff;}
a{text-decoration: none; color: #fff;}
img{vertical-align: top;}
ul,ol{list-style:none;}
input, select{vertical-align: top; outline: none;}